*{
  padding: 0;
  margin: 0;
}

body{
  background-color: #292a2d;
  color : #a9a9b3;
}

button{
  color : #a9a9b3;
}

.imgcw{
  width: 50px;
}

.cwcard, .cwcardglobal{
  display: flex;
  border: 2px solid #a9a9b3;
  border-radius: 5px;
  width: 200px;
}

.cwcard{
  width: 200px;
}

.cwcardglobal{
  width: 500px;
}

.cwbutton{
  background: transparent;
  border: none;
}

.cwstats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cwglobal{
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}
